*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/handshake-dark.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.thanks-form{
    width: 900px;
    height: 200px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 30px;
    margin-bottom: 200px;
    border-radius: 30px;
    background-color: rgba(255, 225, 175,0.8);
}
.title{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
}
.info{
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
