*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/blue_sky.jpg);
    background-repeat: no-repeat;
    background-size: 115%;
}

.navbar{
    display: flex;
    margin-top: 70px;
}
.menu1{
    position: relative;
    background-color: rgb(254, 210, 170,0.85);
    margin-left: 120px;
    padding: 5px 20px 5px 20px;
    font-size: 25px;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 119, 119);
}
.menu1::after{
    content: '';
    top: 30px;
    left: 21px;
    position: absolute;
    height: 2px;
    width: 0px;
    background-color: rgb(21, 151, 229);
    transition: 0.6s;
}
.menu2{
    position: relative;
    background-color: rgb(254, 210, 170,0.85);
    margin-left: 30px;
    padding: 5px 20px 5px 20px;
    font-size: 25px;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 119, 119);
}
.menu2::after{
    content: '';
    top: 30px;
    left: 21px;
    position: absolute;
    height: 2px;
    width: 0px;
    background-color: rgb(21, 151, 229);
    transition: 0.6s;
}
.menu3{
    position: relative;
    background-color: rgb(254, 210, 170,0.85);
    margin-left: 30px;
    padding: 5px 20px 5px 20px;
    font-size: 25px;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 119, 119);
}
.menu3::after{
    content: '';
    top: 30px;
    left: 21px;
    position: absolute;
    height: 2px;
    width: 0px;
    background-color: rgb(21, 151, 229);
    transition: 0.6s;
}
.menu1:hover::after{
    width: 75px;
}
.menu2:hover::after{
    width: 147px;
}
.menu3:hover::after{
    width: 85px;
}


.form-register{
    display: flex;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 30px;
    margin-bottom: 50px;
    width: 800px;
    height: 600px;
    box-shadow: 10px 20px 18px 30px rgba(0,0,0,0.2);
}
.form{
    width: 60%;
    height: 100%;
    background-color: rgb(255,255,255,0.8); 
}
.form-title{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(170, 20, 240);
    margin-left: 50px;
    margin-top: 15px;
    text-transform: capitalize;  
}
.form-name{
    display: flex;
    margin-top: 30px;
    color: rgb(170, 20, 240);
}
.first-name{
    font-size: 14px;
    margin-left: 50px;
    text-transform: uppercase;
}
.second-name{
    font-size: 14px;
    margin-left: 130px;
    text-transform: uppercase;
}
.form-input{
    display: flex;
}
.input-text1{
    width: 175px;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}
.input-text2{
    width: 185px;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}
.form-more-info{
    margin-top: 50px;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 50px;
    color : rgb(170, 20, 240);
}
.input-text3{
    width: 400px;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}
.btn-form{
    margin-left: 150px;
    margin-top: 32px;
    background-color: rgba(97, 102, 179,0.85);
    width: 200px;
    border-radius: 100px;
}
.btn-form a{
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(23, 215, 160);
}
.btn-form:hover{
    background-color: rgb(255, 188, 188 ,0.5);
    border: 3px solid rgba(97, 102, 179,0.85);
}
.btn-form:hover a{
    color: rgba(97, 102, 179,0.85);
}
.form-image{
    width: 40%;
    height: 100%;
}
.form-image img{
    width: 110%;
    height: 100%;
}